@model Connectly.Models.PostViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container px-4">
    <div class="grid grid-cols-1 lg:grid-cols-4 gap-2">
        <div class="col-span-8 lg:col-span-3">
            <div class="mt-4">
                <div class="bg-white shadow rounded-lg mb-4 p-4">
                    <form method="post" asp-controller="Posts" asp-action="Add">
                        <textarea class="form-control block w-full border rounded p-2 mb-4" rows="2" asp-for="PostContent" placeholder="What's on your mind?">
                        <span asp-validation-for="PostContent" class="text-danger" style="font-size:12px;"></span>
                        </textarea>
                        <div class="flex justify-between items-center">
                            <div>
                                <span asp-validation-for="PostVisibility" class="text-danger" style="font-size:12px;"></span>
                                <select class="border-none text-blue-500" asp-for="PostVisibility">
                                    <option value="" disabled selected>Who can see this post</option>
                                    <option value="Friends">Friends</option>
                                    <option value="Friends of friends">Friends of friends</option>
                                    <option value="Public">Public</option>
                                </select>
                            </div>
                            <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-full">Post</button>
                        </div>
                    </form>
                </div>

                <div class="lg:hidden">
                    <div class="bg-white shadow rounded-lg mb-4 p-4">
                        <p class="text-xl text-center font-bold mb-2">Invite your friends to join </p>
                        <p class="text-xl text-center font-bold mb-2 text-[#4b4276]">Connectly</p>
                        <div class="flex justify-center">
                            <button type="button" id="showModal1" data-toggle="modal" data-target="#invite">Click here</button>
                        </div>
                    </div>
                </div>

                @foreach (var post in Model.Posts)
                {
                    <div class="bg-white shadow rounded-lg mb-4 p-4">
                        <div class="flex items-center mb-4">
                            @if (post.UserProfilePicture is not null)
                            {
                                <a asp-controller="Account" asp-action="ProfileInfo" asp-route-id="@post.UserId" class="inline-block">
                                    <img src="@post.UserProfilePicture" class="h-10 w-10 rounded-full">
                                </a>
                            }
                            else
                            {
                                <a asp-controller="Account" asp-action="ProfileInfo" asp-route-id="@post.UserId" class="inline-block">
                                    <img src="https://cdn.pixabay.com/photo/2018/11/13/21/43/avatar-3814049_1280.png" class="h-10 w-10 rounded-full">
                                </a>
                            }
                            <div class="ml-3">
                                <a asp-controller="Account" asp-action="ProfileInfo" asp-route-id="@post.UserId" class="text-black font-bold text-sm">
                                    @post.UserFirstName @post.UserLastName
                                </a>
                                <p class="text-gray-500 text-xs">@post.CreationOfPost.ToString("dd/MM/yyyy")</p>
                            </div>
                            @if (post.UserId == Model.CurrentUserId)
                            {
                                <form class="ml-auto">
                                    <button class="bg-red-500 text-white py-1 px-2 rounded-full" asp-action="Delete" asp-controller="Posts" asp-route-id="@post.Id">Delete</button>
                                </form>
                            }
                        </div>
                        <p class="whitespace-pre-wrap">@post.Text</p>
                    </div>
                }
            </div>
        </div>
        <div class="hidden lg:block grid-cols-1">
            <div class="mt-4 mr-2">
                <div class="bg-white shadow rounded-lg mb-4 p-4 fixed" style="margin-right: -20px">
                    <p class="text-xl text-center font-bold">Invite your friends to join</p>
                    <p class="text-xl text-center text-[#4b4276] font-bold mb-2">Connectly</p>
                    <div class="flex justify-center">
                        <button type="button" id="showModal" data-toggle="modal" data-target="#invite">Click here</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="invite" tabindex="-1" role="dialog" aria-labelledby="logoutLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Creating an invitation</h5>
                    <button type="button" id="closeModal" class="close" data-dismiss="modal" aria-label="Close" style="border: none; background-color: white; font-size: 30px">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        <input type="text" class="form-control" asp-for="EmailOfReceiver" placeholder="Write the email of your friend" />
                        <button type="submit" asp-controller="Invitations" asp-action="Add" class="btn btn-primary mt-2" style="float:right">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}